/* Main Styles - Import all modular CSS files */

@import url('./global.css');
@import url('./header.css');
@import url('./main-content.css');
@import url('./home.css');
@import url('./history.css');
@import url('./architecture.css');
@import url('./example.css');
@import url('./sequences.css');
@import url('./forms.css');
@import url('./buttons.css');
@import url('./footer.css');
@import url('./responsive.css');
